body{font-family: 'Noto Sans KR', sans-serif;}

.visual {width: 100%;height: 200px; background: url(../images/sub2visualX2.jpg) no-repeat center bottom; background-size: cover;}
.visual h3{position: absolute; top: 85px; width: 100%; text-align: center; color: #fff; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; font-size:1.9em;}
.sub_nav{border-bottom: 1px solid #ccc;}
.sub_nav ul{width: 100%;  overflow: hidden;}
.sub_nav li{float: left; width: 33.33%; text-align: center; position: relative;}
.sub_nav li a{display: block; font-family: 'Noto Sans KR', sans-serif; padding: 15px 0; font-weight: 400; }
.sub_nav li .current{color: #fff; font-weight: 700; background: rgba(239,0,16,1);}

#content .title_area{position: relative; overflow: hidden;}
#content .title_area h2{ font-weight: 700; font-size: 2em; text-align: center;
                        margin:50px 0 15px 0; position: relative;}
#content .title_area h2::after{content: ""; display: block; background: rgba(239,0,16,1); width: 2px; height: 50px; position: absolute; left: 50%; margin-left: -1px; top: 130px;}
#content .title_area p{ text-align: center; font-size: 1rem; }
#content .title_area p:nth-last-child(1){font-size: 1rem; margin-bottom: 150px;}
#content .title_area p span{color: rgba(239,0,16,1);}




.business .busiTop{ margin-bottom: 100px;}
.business .busiTop p{text-align: center; font-size: 1.25em;}
.business .busiTop p span:nth-of-type(1){ display: block; }
.business .busiTop p strong{color: rgba(239,0,16,1);}




.busiCon{margin-bottom: 100px; overflow: hidden;}
.infoSub{font-size: 1.5em; font-weight: 700; font-size: 1.5em; padding: 0 10px; color: rgba(239,0,16,1); margin-bottom: 20px;}
.infoMain{line-height: 2em; padding: 0 10px; text-align: justify; margin-bottom: 30px;}
.busiCon img{width: 100%; margin-bottom: 10px;}

.busiCon ul{padding: 0 .5%;}
.busiCon ul li{width: 32.33%; padding: 1% .5%; float: left;}
.busiCon ul li img{width: 100%; border-radius: 20px;}

.modal_box{position: fixed; left: 0; top: 0; z-index: 300; width: 100%; height: 100%; 
    background: #000; opacity: .7; display: none;}



.popup{position: fixed; top: 50%; left: 50%; margin: -245px 0 0 -35%; 
    width: 70%;  background: #fff; box-shadow: 1px 3px 7px 0px #666;
    z-index: 310; display:none; overflow: hidden; }
.popup img{width: 100%;}

.close_btn{position: absolute; right: 10px; top: 10px;}