body{font-family: 'Noto Sans KR', sans-serif;}

.visual {width: 100%;height: 200px; background: url(../images/sub3visualX2.jpg) no-repeat center bottom; background-size: cover;}
.visual h3{position: absolute; top: 85px; width: 100%; text-align: center; color: #fff; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; font-size:1.9em;}
.sub_nav{border-bottom: 1px solid #ccc;}
.sub_nav ul{width: 100%;  overflow: hidden;}
.sub_nav li{float: left; width: 33.33%; text-align: center; position: relative;}
.sub_nav li a{display: block; font-family: 'Noto Sans KR', sans-serif; padding: 15px 0; font-weight: 400; }
.sub_nav li .current{color: #fff; font-weight: 700; background: rgba(239,0,16,1);}

#content .title_area{position: relative; overflow: hidden;}
#content .title_area h2{ font-weight: 700; font-size: 2em; text-align: center;
                        margin:50px 0 15px 0; position: relative;}
#content .title_area h2::after{content: ""; display: block; background: rgba(239,0,16,1); width: 2px; height: 50px; position: absolute; left: 50%; margin-left: -1px; top: 130px;}
#content .title_area p{ text-align: center; font-size: 1rem; }
#content .title_area p:nth-last-child(1){font-size: 1rem; margin-bottom: 150px;}
#content .title_area p span{color: rgba(239,0,16,1);}



.safeTop{ margin-bottom: 100px;}
.safeTop p{text-align: center; font-size: 1.25em; margin-bottom: 100px;}
.safeTop p span{ display: block; }
.safeTop p strong{color: rgba(239,0,16,1);}

.safeTop ul{padding: 0 10%;}
.safeTop ul::after{content: ''; display: block; clear: both;}
.safeTop li{width: 45%; padding: 10% 2.5%; text-align: center;  float: left; position: relative;}
.safeTop li:nth-of-type(1)::after{content: ''; display: block; width: 15%; height: 15%; border-right: 1px solid rgba(239,0,16,1); border-bottom: 1px solid rgba(239,0,16,1); position: absolute; right: 0; bottom: 0;}
.safeTop li:nth-of-type(1)::before{content: ''; display: block; width: 30%; height: 30%; border-left: 1px solid rgba(239,0,16,1); border-top: 1px solid rgba(239,0,16,1); position: absolute; left: 0; top: 0;}
.safeTop li:nth-of-type(2)::before{content: ''; display: block; width: 30%; height: 30%; border-right: 1px solid rgba(239,0,16,1); border-top: 1px solid rgba(239,0,16,1); position: absolute; right: 0; top: 0;}
.safeTop li:nth-of-type(3)::before{content: ''; display: block; width: 30%; height: 30%; border-left: 1px solid rgba(239,0,16,1); border-bottom: 1px solid rgba(239,0,16,1); position: absolute; left: 0; bottom: 0;}
.safeTop li:nth-of-type(4)::before{content: ''; display: block; width: 30%; height: 30%; border-right: 1px solid rgba(239,0,16,1); border-bottom: 1px solid rgba(239,0,16,1); position: absolute; right: 0; bottom: 0;}
.safeTop li:nth-of-type(4)::after{content: ''; display: block; width: 15%; height: 15%; border-left: 1px solid rgba(239,0,16,1); border-top: 1px solid rgba(239,0,16,1); position: absolute; left: -1px; top: -1px;}
.safeTop li strong{display: block; }
.safeTop li span{text-align: justify; }

.safeMid{padding: 50px 0; background: #f7f7f7;}
.midCon2{padding: 0 20px;}
.safeMid h3{font-size: 1.9em; font-weight: 700; margin-left: 30px; position: relative; margin-bottom: 50px;}
.safeMid h3::before{content: ''; display: block; position: absolute; width: 5px; height: 35px; background: rgba(239,0,16,1); top: 0; left: -15px;}

.con2Top{text-align: center;}
.con2Top li{margin-bottom: 20px;}
.con2Top strong{display: block;}

.wp12{margin-bottom: 50px;}
.con2inner{margin-bottom: 30px;}