body{font-family: 'Noto Sans KR', sans-serif;}

.visual {width: 100%;height: 200px; background: url(../images/sub4visualX2.jpg) no-repeat center bottom; background-size: cover;}
.visual h3{position: absolute; top: 85px; width: 100%; text-align: center; color: #fff; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; font-size:1.9em;}
.sub_nav{border-bottom: 1px solid #ccc;}
.sub_nav ul{width: 100%;  overflow: hidden;}
.sub_nav li{float: left; width: 33.33%; text-align: center; position: relative;}
.sub_nav li a{display: block; font-family: 'Noto Sans KR', sans-serif; padding: 15px 0; font-weight: 400; }
.sub_nav li .current{color: #fff; font-weight: 700; background: rgba(239,0,16,1);}

#content{padding: 0 20px;}
#content .title_area{position: relative; overflow: hidden;}
#content .title_area h2{ font-weight: 700; font-size: 2em; text-align: center;
                        margin:50px 0 15px 0; position: relative;}
#content .title_area h2::after{content: ""; display: block; background: rgba(239,0,16,1); width: 2px; height: 50px; position: absolute; left: 50%; margin-left: -1px; top: 130px;}
#content .title_area p{ text-align: center; font-size: 1rem; }
#content .title_area p:nth-last-child(1){font-size: 1rem; margin-bottom: 150px;}
#content .title_area p span{color: rgba(239,0,16,1);}

.employTop{ margin-bottom: 100px;}
.employTop p{text-align: center; font-size: 1.25em;}
.employTop p span:nth-of-type(1){ display: block; }
.employTop p strong{color: rgba(239,0,16,1);}

.conMid dl{margin-bottom: 50px; position: relative;}
.conMid dl::after{content: '▼'; display: block; color: rgba(0,0,0,.3); font-size: 1.786em; position: relative; left: 50%; margin-left: -18px; top: 25px;}
.conMid li:nth-last-of-type(1) dl::after{display: none;}
.conMid dt{position: absolute; top: -10px; left: 10px; background: #fff; padding: 0 5px; color: rgba(239,0,16,1); font-weight: 700;}
.conMid dd{border: 5px solid rgb(239, 0, 16); border-radius: 10px; padding: 15px; text-align: justify;}
.conMid dd span{display: block; margin-bottom: 10px;}
.conMid dd:nth-of-type(2){margin-top: 20px;}

.conMid h3{font-size: 1.9em; font-weight: 700; margin-left: 30px; position: relative; margin-bottom: 50px; text-align: center;}
.conMid h3::before{content: ''; display: block; position: absolute; width: 5px; height: 35px; background: rgba(239,0,16,1); top: 0; left: 50%; margin-left: -90px;}